<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height: 100%">
<head>
<script type="text/javascript">
$(function(){
	  $('.cambtn').click(function(){
	    $('#cam').hasClass('open') ? $('#cam').removeClass('open'):$('#cam').addClass('open')
	  })
	});
</script>
</head>
<body style="height: 100%">
<!-- 반응형으로 수정해야 한당 -->

	<!-- start : camera -->
	<div id="cam">
		<div id="camera">
			<div class="strip"></div>
			<div class="lens"></div>
			<div class="led"></div>
			<div class="cambtn"></div>
		</div>
		<div id="panel">
		  <div class="pic">
		  <img src="http://lorempixel.com/200/200/city"/>
		  </div>
		  <center>
		  <a href="#" class="lnk">Travel Diary</a>
		  </center>
		</div>
		<div class="shadow">
		</div>
	</div>
	<!-- end : camera -->

</body>
</html>